@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: local('Roboto Thin'), local('RobotoThin'), url('../fonts/Roboto/Roboto-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: local('Roboto Thin Italic'), local('RobotoThinItalic'), url('../fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Roboto Light'), local('RobotoLight'), url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: local('Roboto Light Italic'), local('RobotoLightItalic'), url('../fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto Regular'), local('RobotoRegular'), url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Roboto Medium'), local('RobotoMedium'), url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: local('Roboto Medium Italic'), local('RobotoMediumItalic'), url('../fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Roboto Bold'), local('RobotoBold'), url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: local('Roboto Bold Italic'), local('RobotoBoldItalic'), url('../fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local('Roboto Black'), local('RobotoBlack'), url('../fonts/Roboto/Roboto-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: local('Roboto Black Italic'), local('RobotoBlackItalic'), url('../fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype');
}

* {
    font-family: 'Roboto', Arial, Helevtica, sans-serif;
    font-weight: 400;
    font-style: normal;
}

div#loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

div#loading .blockUI.blockOverlay {
    z-index: 1060 !important;
}

div#loading .blockUI.blockMsg.blockElement {
    z-index: 1061 !important;
}

div#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    overflow: hidden;
}

div.route-view {
    position: relative;
    width: 100%;
    height: 100%;
}

.pace .pace-progress {
    background: #FF0000
}

.toast .toast-title {
    color: #FFF;
}

.ps>.ps__rail-y, .ps>.ps__rail-x {
    z-index: 98;
}

.ps>.ps__rail-y>.ps__thumb-y, .ps>.ps__rail-x>.ps__thumb-x {
    background: #95A5A6;
}

.ps>.ps__rail-y, .ps>.ps__rail-y>.ps__thumb-y {
    width: 7px !important;
}

.ps>.ps__rail-x, .ps>.ps__rail-x>.ps__thumb-x {
    height: 7px !important;
}

.form-control.is-invalid {
    border: 1px solid #fd397a !important;
}

.loading-block {
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loading-block .message {
    margin-bottom: 10px;
}